.playingField{
    display: flex;
    justify-content: center;
    background: #fff;
    margin-top:40px;


}
.gameSquares{
    height: 30vh;
    width: 30vh;
    background: #fff;
    border: 1.3vh solid black;
}

.CA, .CB, .CC{
    border-bottom: white;
}

.AA, .BA, .CA{
    border-left: white;
}
.AC, .BC, .CC{
    border-right: white;
}

.AA, .AB, .AC{
    border-top: white;
}


.A {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.B {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.C {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.AImg {
    display: none;
    position: absolute; /* Змінено на absolute, щоб займати позицію над .gameSquares */
    top: 0;
    left: 50%;

    height: 90vh;
    width: 2vh;

    object-fit: cover; /* Змінено, якщо потрібно */
    z-index: 2; /* Значення z-index для зображення, щоб бути вищим за .gameSquares */
    margin-bottom: -10vh; /* Виправлення відступу, якщо потрібно */
}

.ZAImg{
    display: none;
    position: absolute; /* Змінено на absolute, щоб займати позицію над .gameSquares */
    top: 5%;
    left: 10%;

    height: 20vh;
    width: 20vh;

    object-fit: cover; /* Змінено, якщо потрібно */
    z-index: 2; /* Значення z-index для зображення, щоб бути вищим за .gameSquares */
    margin-bottom: -10vh; /* Виправлення відступу, якщо потрібно */

}

.CAImg{
    display: none;
    position: absolute; /* Змінено на absolute, щоб займати позицію над .gameSquares */


    height: 20vh;
    width: 20vh;

    object-fit: cover; /* Змінено, якщо потрібно */
    z-index: 2; /* Значення z-index для зображення, щоб бути вищим за .gameSquares */
    margin-bottom: -10px; /* Виправлення відступу, якщо потрібно */
}

.ImgAA{
    /*display: none;*/
    top: 5vh;
    left: 5vh;
}

.ImgBA{
    /*display: none;*/
    top: 35vh;
    left: 5vh;
}

.ImgCA{
    /*display: none;*/
    top: 65vh;
    left: 5vh;
}

.ImgAB{
    /*display: none;*/
    top: 5vh;
    left: 5vh;
}

.ImgВB{
    /*display: none;*/
    top: 35vh;
    left: 5vh;
}

.ImgСB{
    /*display: none;*/
    top: 65vh;
    left: 5vh;
}

.ImgAС{
    /*display: none;*/
    top: 5vh;
    left: 5vh;
}

.ImgBС{
    /*display: none;*/
    top: 35vh;
    left: 5vh;
}

.ImgCС{
    /*display: none;*/
    top: 65vh;
    left: 5vh;
}